body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
}

.circles{
    display: flex;
    flex-direction: row;
}

.circle{
    margin: 0 50px 20px 0;
}

.button{
    margin-right: 50px;
}